<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Wiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <!-- <div id="heading">
        <span class="heading-elment">Hello Vro</span>
    </div> -->

    <header>
        <p class="headerelement" style="font-size: 3rem;"><a href="/">Math Wiz</a></p>
        <p class="headerelement" style="font-size: 1rem;">GRP 2- AI PROJECT</p>

    </header>

    <div class="container">
        <div id="spc">Hello Vro, Pls Upload Img.</div>

        <form method="POST" enctype="multipart/form-data" id="mainForm">

            <input type="file" name="imageUpload" id="fbtn"/>
            <label for="fbtn" id="fbtnlbl">Oy Nigger UPload na wut u waiting 4</label>
            <br>
            <input type="submit" value="Upload" id="upbtn"/>
            <label for="upbtn" id="upbtnlbl">send</label>

        </form>


        <div>
            
            <span>Solution.</span>
            
            {% if filename %}
                <img src="/static/uploads/{{filename}}" alt="Uploaded Image">

                <span> <a href="/img_mod/{{filename}}">go calc</a></span>
            {% endif %}
            
        </div>
    </div>

    <footer>
        <pre>
            Made By Ali,Akarsh,Dan,Harsh
                                    |
                         this nigga did nothing
        </pre>
    </footer>

    <script>
        function send_post() {

                    let data = {element: "barium"};

                    fetch(document.URL, {
                    method: "POST",
                    headers: {'Content-Type': 'application/json'}, 
                    body: JSON.stringify("data")
                    })

                    };        
    </script>
</body>
</html>